table{
    border-collapse: collapse;
    width: 100%;
}
thead{
    background-color: black;
    color: white;
}
th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
